<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Simple Map</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <script src="assets/lib/angular/angular.min.js"></script>
        <link rel="stylesheet" href="assets/lib/bootstrap/dist/css/bootstrap.min.css">
        <script src="assets/lib/jquery/dist/jquery.min.js"></script>
        <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmmEch_9VmTUy7RMikSa0mGk9mqZGwh2M"></script>
        <script type="text/javascript" src="app2.js"></script>
        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            #map {
                height: 500px;
            }

        </style>
    </head>
    <body ng-controller="home">
        <div class="container">
            <div class="col-sm-4">
                <div class="page-header">
                    <form>
                        <div class="form-group">
                            <label>De onde você vai sair?</label>
                            <input class="form-control" type="text" ng-model="ride.cityOrigin" id="start">
                        </div>

                        <div class="form-group">
                            <label>Para onde você vai?</label>
                            <input class="form-control" type="text" id="end" ng-model="ride.cityDestiny">
                        </div>
                        <button class="btn btn-default" ng-click="searchRoute()">Buscar Rota</button>
                        <br/>
                        <br/>
                        <div class="form-group">
                            <label>Data de Viagem</label>
                            <input class="form-control" type="text" name="origem" ng-model="ride.date">
                        </div>

                        <div class="form-group">
                            <label>Hora de Saída</label>
                            <input class="form-control" type="text" name="origem" ng-model="ride.departureTime" class="hour">
                        </div>

                        <div class="form-group">
                            <label>Ajuda de Custo</label>
                            <input class="form-control" ng-model="ride.oil" type="text" name="origem">
                        </div>
                        <br/>
                        <button class="btn btn-success" ng-click="salvar(ride)">Salvar Carona</button>
                    </form>
                </div>
            </div>
            <br/>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div id="map"></div>
            </div>
        </div>
    </body>
</html>