<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Welcome</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <script src="assets/lib/angular/angular.min.js"></script>
        <link rel="stylesheet" href="assets/lib/bootstrap/dist/css/bootstrap.min.css">
        <script src="assets/lib/jquery/dist/jquery.min.js"></script>
        <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="assets/lib/angular-route/angular-route.min.js"></script>
        <script src="assets/lib/angular-locale-pt-br/angular-locale_pt-br.js"></script>
        <!--<script src="routes/app-route.js"></script>-->

        <meta charset="utf-8">
        <style>
            body, html{
                height: 100%;
                padding: 0;
                margin: 0;
            }
            #map{
                height: 100%;
            }   
        </style>
        <script type="text/javascript">
            var app = angular.module("app", []);
            app.controller("caronaController", function ($scope, $http) {


                //dados da inicialização do mapa
                var initalizeMap = {
                    zoom: 15,
                    center: {lat: 41.85, lng: -87.65}
                };
                $scope.map = new google.maps.Map(document.getElementById("map"), initalizeMap);
                var marker = {};
                var infoWindow = new google.maps.InfoWindow({map: $scope.map});
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        infoWindow.setPosition(pos);
                        $scope.map.setCenter(pos);
                        createMarker(pos);
                    });
                }


                function createMarker(pos) {
                    marker = new google.maps.Marker({
                        position: pos,
                        animation: google.maps.Animation.DROP,
                        draggable: true,
                        map: $scope.map
                    });
                    console.log(marker);
                    $scope.ride.latitudeOrigin = pos.lat;
                    $scope.ride.longitudeOrigin = pos.lng;
                }
                ;
                var directionService = new google.maps.DirectionsService;
                var directionDisplay = new google.maps.DirectionsRenderer;
                directionDisplay.setMap($scope.map);
                var createDirection = function () {
                    directionService.route({
                        origin: document.getElementById("start").value,
                        destination: document.getElementById("end").value,
                        travelMode: "DRIVING",
                    }, function (response, status) {
                        if (status === "OK") {
                            console.log(response);
                            directionDisplay.setDirections(response);
                            console.log(directionsDisplay);
                        } else {
                            map.setCenter(initalizeMap);
                        }
                    }
                    );
                };
                document.getElementById("start").addEventListener("change", createDirection);
                document.getElementById("end").addEventListener("change", createDirection);
                $scope.userprincipal = {};
                $scope.userprincipal.rides = $scope.ride;
                $scope.salvar = function () {
                    console.log($scope.ride.origin);
                    console.log($scope.ride.destiny);
                    $http.put("http://localhost:8080/iGeoWebServices/webresources/ride", $scope.userprincipal).
                            then(function (response) {
                                delete $scope.ride;
                                console.log("Deu certo");
                            }), function (response) {
                        console.log("Não deu certo");
                    };
                };
//            /*
//             var marker2 = {};
//             
//             //Pegando a geolocalização
//             */
//            };
            });
        </script>
    </head>
    <body ng-controller="caronaController">
        <div class="container col-sm-4">
            <div class="page-header">

                <form>
                    <div class="form-group">
                        <label>De onde você vai sair?</label>
                        <input class="form-control" type="text" ng-model="ride.origin" id="start">
                    </div>

                    <div class="form-group">
                        <label>Para onde você vai?</label>
                        <input class="form-control" type="text" id="end" ng-model="ride.destiny">
                    </div>
                    <button class="btn btn-default" id="find">Buscar Rota</button>
                    <br/>
                    <br/>
                    <div class="form-group">
                        <label>Data de Viagem</label>
                        <input class="form-control" type="text" name="origem" ng-model="ride.date">
                    </div>

                    <div class="form-group">
                        <label>Hora de Saída</label>
                        <input class="form-control" type="text" name="origem" ng-model="ride.departureTime" class="hour">
                    </div>

                    <div class="form-group">
                        <label>Ajuda de Custo</label>
                        <input class="form-control" ng-model="ride.oil" type="text" name="origem">
                    </div>
                    <br/>
                    <button class="btn btn-success" ng-click="salvar()">Salvar Carona</button>
                </form>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div id="map" class="col-sm-4"></div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFQnphaheCtrkO0LZGvozgTmLEajc7NJg"></script>
    </body>
</html>