<div class="container">
    <br/>
    
    <form name="formOffer">

        <div class="form-group">
            <label>Data</label>
            <input class="form-control" type="text" name="origin" required="true" ng-model="date">
        </div>
    </form>

    <div class="page-header">
        <div class="form-group">
            <label>Origem</label>
            <input class="form-control" type="text" name="origin" required="true" ng-model="origin">
        </div>

        <br/>

        <button class="btn btn-success" ng-click="search(origin, date)">Buscar Caronas</button>

    </div>
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Hora de Saída</th>
                    <th>Ajuda no Combustível</th>
                    <th>Cidade de Passagem</th>
                    <th>Cidade de Passagem</th>
                    <th>Cidade de Passagem</th>
                </tr>      
            </thead>
            <tbody>
                <tr ng-repeat="ride in ridesBy">
                <td>{{ride.date}}</td>
                    <td>{{ride.departureTime}}</td>
                    <td>{{ride.oil}}</td>
                    <td>{{ride.cityOrigin.cityName}}</td>
                    <td>{{ride.cityDestiny}}</td>
                    <td>{{ride.cityPassage}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4"></div>
</div>


<br/>

<br/>

</div>
</div>