<div class="container">
    <div class="page-header">
        <h1>Cadastre-se</h1>
        <br/>
        <br/>
        <form name="formRegister" method="post">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="text" name="email" class="form-control" ng-model="newUser.email" placeholder="Email">
            </div>

            <br/>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" type="text" name="name" ng-model="newUser.name" placeholder="Nome Completo">
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-gift"></i></span>
                <input class="form-control" type="text" name="birthday" ng-model="newUser.birthday" placeholder="Data de Aniversário">
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-"></i></span>
            <input type="text" class="form-control" name="gender" ng-model="newUser.gender" placeholder="Sexo">
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-"></i></span>
                <input class="form-control" type="password" name="password" ng-model="newUser.password" placeholder="Senha">
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-"></i></span>
                <input type="text" class="form-control" name="phone" ng-model="newUser.phone" placeholder="Telefone">
            </div>
  
            <br/>
            <br/>
            <button class="btn btn-success" type="submit" ng-click="register(newUser);" name="login">Cadastrar</button>
        </form>
    </div>
</div>
