<form name="formLogin">
    <label>Email</label>
    <input type="text" name="email" ng-model="newUser.email">
	
	<label>Nome</label>
    <input type="text" name="name" ng-model="newUser.name">

	<label>Data de Nascimento</label>
    <input type="text" name="birthday" ng-model="newUser.birthday">
	
	<label>Sexo</label>
    <input type="text" name="gender" ng-model="newUser.gender">

    <label>Senha</label>
    <input type="password" name="password" ng-model="newUser.password">

    <label>Telefone</label>
    <input type="text" name="phone" ng-model="newUser.phone">
    
    <button type="submit" ng-click="register(newUser);" name="login">Login</button>
</form>